<table width="579" border="0" cellpadding="0" cellspacing="0" class="page">
  <!--DWLayoutTable-->
  <tr> 
    <td height="20" colspan="4" valign="top" class="blackback">%cn% spells</td>
    <td width="144" valign="top" class="boxed">%h30%</td>
    <td width="144" valign="top" class="boxed">%h72%</td>
    <td width="149" valign="top" class="boxed">%h114%</td>
  </tr>
  <tr> 
    <td width="38" height="20" valign="top" class="descboxed">Spell Save DC</td>
    <td width="23" class="descboxed">LEVEL</td>
    <td width="38" class="descboxed">SPELLS PER DAY</td>
    <td width="44" class="descboxed">BONUS SPELLS</td>
    <td valign="top" class="boxed">%h31%</td>
    <td valign="top" class="boxed">%h73%</td>
    <td valign="top" class="boxed">%h115%</td>
  </tr>
  <tr> 
    <td height="20" valign="top" class="boxedsmall">%j0%</td>
    <td valign="top" class="boxedsmall">0</td>
    <td valign="top" class="boxedsmall">%q0%</td>
    <td valign="top" class="boxedsmall">%t0%</td>
    <td valign="top" class="boxed">%h32%</td>
    <td valign="top" class="boxed">%h74%</td>
    <td valign="top" class="boxed">%h116%</td>
  </tr>
  <tr> 
    <td height="20" valign="top" class="boxedsmall">%j1%</td>
    <td valign="top" class="boxedsmall">1st</td>
    <td valign="top" class="boxedsmall">%q1%</td>
    <td valign="top" class="boxedsmall">%t1%</td>
    <td valign="top" class="boxed">%h33%</td>
    <td valign="top" class="boxed">%h75%</td>
    <td valign="top" class="boxed">%h117%</td>
  </tr>
  <tr> 
    <td height="20" valign="top" class="boxedsmall">%j2%</td>
    <td valign="top" class="boxedsmall">2nd</td>
    <td valign="top" class="boxedsmall">%q2%</td>
    <td valign="top" class="boxedsmall">%t2%</td>
    <td valign="top" class="boxed">%h34%</td>
    <td valign="top" class="boxed">%h76%</td>
    <td valign="top" class="boxed">%h118%</td>
  </tr>
  <tr> 
    <td height="20" valign="top" class="boxedsmall">%j3%</td>
    <td valign="top" class="boxedsmall">3rd</td>
    <td valign="top" class="boxedsmall">%q3%</td>
    <td valign="top" class="boxedsmall">%t3%</td>
    <td valign="top" class="boxed">%h35%</td>
    <td valign="top" class="boxed">%h77%</td>
    <td valign="top" class="boxed">%h119%</td>
  </tr>
  <tr> 
    <td height="20" valign="top" class="boxedsmall">%j4%</td>
    <td valign="top" class="boxedsmall">4th</td>
    <td valign="top" class="boxedsmall">%q4%</td>
    <td valign="top" class="boxedsmall">%t4%</td>
    <td valign="top" class="boxed">%h36%</td>
    <td valign="top" class="boxed">%h78%</td>
    <td valign="top" class="boxed">%h120%</td>
  </tr>
  <tr> 
    <td height="20" valign="top" class="boxedsmall">%j5%</td>
    <td valign="top" class="boxedsmall">5th</td>
    <td valign="top" class="boxedsmall">%q5%</td>
    <td valign="top" class="boxedsmall">%t5%</td>
    <td valign="top" class="boxed">%h37%</td>
    <td valign="top" class="boxed">%h79%</td>
    <td valign="top" class="boxed">%h121%</td>
  </tr>
  <tr> 
    <td height="20" valign="top" class="boxedsmall">%j6%</td>
    <td valign="top" class="boxedsmall">6th</td>
    <td valign="top" class="boxedsmall">%q6%</td>
    <td valign="top" class="boxedsmall">%t6%</td>
    <td valign="top" class="boxed">%h38%</td>
    <td valign="top" class="boxed">%h80%</td>
    <td valign="top" class="boxed">%h122%</td>
  </tr>
  <tr> 
    <td height="20" valign="top" class="boxedsmall">%j7%</td>
    <td valign="top" class="boxedsmall">7th</td>
    <td valign="top" class="boxedsmall">%q7%</td>
    <td valign="top" class="boxedsmall">%t7%</td>
    <td valign="top" class="boxed">%h39%</td>
    <td valign="top" class="boxed">%h81%</td>
    <td valign="top" class="boxed">%h123%</td>
  </tr>
  <tr> 
    <td height="20" valign="top" class="boxedsmall">%j8%</td>
    <td valign="top" class="boxedsmall">8th</td>
    <td valign="top" class="boxedsmall">%q8%</td>
    <td valign="top" class="boxedsmall">%t8%</td>
    <td valign="top" class="boxed">%h40%</td>
    <td valign="top" class="boxed">%h82%</td>
    <td valign="top" class="boxed">%h124%</td>
  </tr>
  <tr> 
    <td height="20" valign="top" class="boxedsmall">%j9%</td>
    <td valign="top" class="boxedsmall">9th</td>
    <td valign="top" class="boxedsmall">%q9%</td>
    <td valign="top" class="boxedsmall">%t9%</td>
    <td valign="top" class="boxed">%h41%</td>
    <td valign="top" class="boxed">%h83%</td>
    <td valign="top" class="boxed">%h125%</td>
  </tr>
  <tr> 
    <td height="20" colspan="4" valign="top" class="boxed"><!--DWLayoutEmptyCell-->&nbsp;</td>
    <td valign="top" class="boxed">%h42%</td>
    <td valign="top" class="boxed">%h84%</td>
    <td valign="top" class="boxed">%h126%</td>
  </tr>
  <tr> 
    <td height="20" colspan="4" valign="top" class="boxed">%h1%</td>
    <td valign="top" class="boxed">%h43%</td>
    <td valign="top" class="boxed">%h85%</td>
    <td valign="top" class="boxed">%h127%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h2%</td>
    <td valign="top" class="boxed">%h44%</td>
    <td valign="top" class="boxed">%h86%</td>
    <td valign="top" class="boxed">%h128%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h3%</td>
    <td valign="top" class="boxed">%h45%</td>
    <td valign="top" class="boxed">%h87%</td>
    <td valign="top" class="boxed">%h129%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h4%</td>
    <td valign="top" class="boxed">%h46%</td>
    <td valign="top" class="boxed">%h88%</td>
    <td valign="top" class="boxed">%h130%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h5%</td>
    <td valign="top" class="boxed">%h47%</td>
    <td valign="top" class="boxed">%h89%</td>
    <td valign="top" class="boxed">%h131%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h6%</td>
    <td valign="top" class="boxed">%h48%</td>
    <td valign="top" class="boxed">%h90%</td>
    <td valign="top" class="boxed">%h132%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h7%</td>
    <td valign="top" class="boxed">%h49%</td>
    <td valign="top" class="boxed">%h91%</td>
    <td valign="top" class="boxed">%h133%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h8%</td>
    <td valign="top" class="boxed">%h50%</td>
    <td valign="top" class="boxed">%h92%</td>
    <td valign="top" class="boxed">%h134%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h9%</td>
    <td valign="top" class="boxed">%h51%</td>
    <td valign="top" class="boxed">%h93%</td>
    <td valign="top" class="boxed">%h135%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h10%</td>
    <td valign="top" class="boxed">%h52%</td>
    <td valign="top" class="boxed">%h94%</td>
    <td valign="top" class="boxed">%h136%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h11%</td>
    <td valign="top" class="boxed">%h53%</td>
    <td valign="top" class="boxed">%h95%</td>
    <td valign="top" class="boxed">%h137%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h12%</td>
    <td valign="top" class="boxed">%h54%</td>
    <td valign="top" class="boxed">%h96%</td>
    <td valign="top" class="boxed">%h138%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h13%</td>
    <td valign="top" class="boxed">%h55%</td>
    <td valign="top" class="boxed">%h97%</td>
    <td valign="top" class="boxed">%h139%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h14%</td>
    <td valign="top" class="boxed">%h56%</td>
    <td valign="top" class="boxed">%h98%</td>
    <td valign="top" class="boxed">%h140%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h15%</td>
    <td valign="top" class="boxed">%h57%</td>
    <td valign="top" class="boxed">%h99%</td>
    <td valign="top" class="boxed">%h141%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h16%</td>
    <td valign="top" class="boxed">%h58%</td>
    <td valign="top" class="boxed">%h100%</td>
    <td valign="top" class="boxed">%h142%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h17%</td>
    <td valign="top" class="boxed">%h59%</td>
    <td valign="top" class="boxed">%h101%</td>
    <td valign="top" class="boxed">%h143%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h18%</td>
    <td valign="top" class="boxed">%h60%</td>
    <td valign="top" class="boxed">%h102%</td>
    <td valign="top" class="boxed">%h144%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h19%</td>
    <td valign="top" class="boxed">%h61%</td>
    <td valign="top" class="boxed">%h103%</td>
    <td valign="top" class="boxed">%h145%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h20%</td>
    <td valign="top" class="boxed">%h62%</td>
    <td valign="top" class="boxed">%h104%</td>
    <td valign="top" class="boxed">%h146%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h21%</td>
    <td valign="top" class="boxed">%h63%</td>
    <td valign="top" class="boxed">%h105%</td>
    <td valign="top" class="boxed">%h147%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h22%</td>
    <td valign="top" class="boxed">%h64%</td>
    <td valign="top" class="boxed">%h106%</td>
    <td valign="top" class="boxed">%h148%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h23%</td>
    <td valign="top" class="boxed">%h65%</td>
    <td valign="top" class="boxed">%h107%</td>
    <td valign="top" class="boxed">%h149%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h24%</td>
    <td valign="top" class="boxed">%h66%</td>
    <td valign="top" class="boxed">%h108%</td>
    <td valign="top" class="boxed">%h150%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h25%</td>
    <td valign="top" class="boxed">%h67%</td>
    <td valign="top" class="boxed">%h109%</td>
    <td valign="top" class="boxed">%h151%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h26%</td>
    <td valign="top" class="boxed">%h68%</td>
    <td valign="top" class="boxed">%h110%</td>
    <td valign="top" class="boxed">%h152%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h27%</td>
    <td valign="top" class="boxed">%h69%</td>
    <td valign="top" class="boxed">%h111%</td>
    <td valign="top" class="boxed">%h153%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h28%</td>
    <td valign="top" class="boxed">%h70%</td>
    <td valign="top" class="boxed">%h112%</td>
    <td valign="top" class="boxed">%h154%</td>
  </tr>
  <tr> 
    <td height="18" colspan="4" valign="top" class="boxed">%h29%</td>
    <td valign="top" class="boxed">%h71%</td>
    <td valign="top" class="boxed">%h113%</td>
    <td valign="top" class="boxed">%h155%</td>
  </tr>
  <tr> 
    <td height="16" colspan="4"></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>