<table border="0" cellpadding="0" cellspacing="0" class="page">
  <!--DWLayoutTable-->
  <TR> 
    <tD height="18" colspan="3" valign="top" class="blackback2">ATTACK</tD>
    <tD width="119" valign="top" class="blackback2">ATTACK</tD>
    <tD width="126" valign="top" class="blackback2">DAMAGE</tD>
    <tD width="138" valign="top" class="blackback2">CRITICAL</tD>
  </TR>
  <TR> 
    <tD height="18" colspan="3" valign="top" class="boxed">%w31%</tD>
    <tD valign="top" class="boxed">%w32%</tD>
    <tD valign="top" class="boxed">%w33%</tD>
    <tD valign="top" class="boxed">%w34%</tD>
  </TR>
  <TR> 
    <tD width="77" height="18" valign="top" class="blackback2">RANGE</tD>
    <tD width="55" valign="top" class="blackback2">TYPE</tD>
    <tD colspan="4" valign="top" class="blackback2">NOTES</tD>
  </TR>
  <TR> 
    <tD height="18" valign="top" class="boxed">%w35%</tD>
    <tD valign="top" class="boxed">%w36%</tD>
    <tD colspan="4" valign="top" class="boxed">%w37%</tD>
  </TR>
  <TR> 
    <tD height="9" colspan="6" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</tD>
  </TR>
  <TR> 
    <tD height="18" colspan="3" valign="top" class="blackback2">ATTACK</tD>
    <tD valign="top" class="blackback2">ATTACK</tD>
    <tD valign="top" class="blackback2">DAMAGE</tD>
    <tD valign="top" class="blackback2">CRITICAL</tD>
  </TR>
  <TR> 
    <tD height="18" colspan="3" valign="top" class="boxed">%w41%</tD>
    <tD valign="top" class="boxed">%w42%</tD>
    <tD valign="top" class="boxed">%w43%</tD>
    <tD valign="top" class="boxed">%w44%</tD>
  </TR>
  <TR> 
    <tD height="18" valign="top" class="blackback2">RANGE</tD>
    <tD valign="top" class="blackback2">TYPE</tD>
    <tD colspan="4" valign="top" class="blackback2">NOTES</tD>
  </TR>
  <TR> 
    <tD height="18" valign="top" class="boxed">%w45%</tD>
    <tD valign="top" class="boxed">%w46%</tD>
    <tD colspan="4" valign="top" class="boxed">%w47%</tD>
  </TR>
  <TR> 
    <tD height="28" colspan="6" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</tD>
  </TR>
  <TR> 
    <tD height="18" colspan="3" valign="top" class="blackback2">ATTACK</tD>
    <tD valign="top" class="blackback2">ATTACK</tD>
    <tD valign="top" class="blackback2">DAMAGE</tD>
    <tD valign="top" class="blackback2">CRITICAL</tD>
  </TR>
  <TR> 
    <tD height="18" colspan="3" valign="top" class="boxed">%w51%</tD>
    <tD valign="top" class="boxed">%w52%</tD>
    <tD valign="top" class="boxed">%w53%</tD>
    <tD valign="top" class="boxed">%w54%</tD>
  </TR>
  <TR> 
    <tD height="18" valign="top" class="blackback2">RANGE</tD>
    <tD valign="top" class="blackback2">TYPE</tD>
    <tD colspan="4" valign="top" class="blackback2">NOTES</tD>
  </TR>
  <TR> 
    <tD height="18" valign="top" class="boxed">%w55%</tD>
    <tD valign="top" class="boxed">%w56%</tD>
    <tD colspan="4" valign="top" class="boxed">%w57%</tD>
  </TR>
  <TR> 
    <tD height="9" colspan="6" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</tD>
  </TR>
  <TR> 
    <tD height="18" colspan="3" valign="top" class="blackback2">ATTACK</tD>
    <tD valign="top" class="blackback2">ATTACK</tD>
    <tD valign="top" class="blackback2">DAMAGE</tD>
    <tD valign="top" class="blackback2">CRITICAL</tD>
  </TR>
  <TR> 
    <tD height="18" colspan="3" valign="top" class="boxed">%w61%</tD>
    <tD valign="top" class="boxed">%w62%</tD>
    <tD valign="top" class="boxed">%w63%</tD>
    <tD valign="top" class="boxed">%w64%</tD>
  </TR>
  <TR> 
    <tD height="18" valign="top" class="blackback2">RANGE</tD>
    <tD valign="top" class="blackback2">TYPE</tD>
    <tD colspan="4" valign="top" class="blackback2">NOTES</tD>
  </TR>
  <TR> 
    <tD height="18" valign="top" class="boxed">%w65%</tD>
    <tD valign="top" class="boxed">%w66%</tD>
    <tD colspan="4" valign="top" class="boxed">%w67%</tD>
  </TR>
  <TR> 
    <tD height="28" colspan="6" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</tD>
  </TR>
  <TR> 
    <tD height="18" colspan="3" valign="top" class="blackback2">ATTACK</tD>
    <tD valign="top" class="blackback2">ATTACK</tD>
    <tD valign="top" class="blackback2">DAMAGE</tD>
    <tD valign="top" class="blackback2">CRITICAL</tD>
  </TR>
  <TR> 
    <tD height="18" colspan="3" valign="top" class="boxed">%w71%</tD>
    <tD valign="top" class="boxed">%w72%</tD>
    <tD valign="top" class="boxed">%w73%</tD>
    <tD valign="top" class="boxed">%w74%</tD>
  </TR>
  <TR> 
    <tD height="18" valign="top" class="blackback2">RANGE</tD>
    <tD valign="top" class="blackback2">TYPE</tD>
    <tD colspan="4" valign="top" class="blackback2">NOTES</tD>
  </TR>
  <TR> 
    <tD height="18" valign="top" class="boxed">%w75%</tD>
    <tD valign="top" class="boxed">%w76%</tD>
    <tD colspan="4" valign="top" class="boxed">%w77%</tD>
  </TR>
  <TR> 
    <tD height="9" colspan="6" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</tD>
  </TR>
  <TR> 
    <tD height="18" colspan="3" valign="top" class="blackback2">ATTACK</tD>
    <tD valign="top" class="blackback2">ATTACK</tD>
    <tD valign="top" class="blackback2">DAMAGE</tD>
    <tD valign="top" class="blackback2">CRITICAL</tD>
  </TR>
  <TR> 
    <tD height="18" colspan="3" valign="top" class="boxed">%w81%</tD>
    <tD valign="top" class="boxed">%w82%</tD>
    <tD valign="top" class="boxed">%w83%</tD>
    <tD valign="top" class="boxed">%w84%</tD>
  </TR>
  <TR> 
    <tD height="18" valign="top" class="blackback2">RANGE</tD>
    <tD valign="top" class="blackback2">TYPE</tD>
    <tD colspan="4" valign="top" class="blackback2">NOTES</tD>
  </TR>
  <TR> 
    <tD height="18" valign="top" class="boxed">%w85%</tD>
    <tD valign="top" class="boxed">%w86%</tD>
    <tD colspan="4" valign="top" class="boxed">%w87%</tD>
  </TR>
  <TR> 
    <tD height="28" colspan="6" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</tD>
  </TR>
  <TR> 
    <tD height="18" colspan="3" valign="top" class="blackback2">ATTACK</tD>
    <tD valign="top" class="blackback2">ATTACK</tD>
    <tD valign="top" class="blackback2">DAMAGE</tD>
    <tD valign="top" class="blackback2">CRITICAL</tD>
  </TR>
  <TR> 
    <tD height="18" colspan="3" valign="top" class="boxed">%w91%</tD>
    <tD valign="top" class="boxed">%w92%</tD>
    <tD valign="top" class="boxed">%w93%</tD>
    <tD valign="top" class="boxed">%w94%</tD>
  </TR>
  <TR> 
    <tD height="18" valign="top" class="blackback2">RANGE</tD>
    <tD valign="top" class="blackback2">TYPE</tD>
    <tD colspan="4" valign="top" class="blackback2">NOTES</tD>
  </TR>
  <TR> 
    <tD height="18" valign="top" class="boxed">%w95%</tD>
    <tD valign="top" class="boxed">%w96%</tD>
    <tD colspan="4" valign="top" class="boxed">%w97%</tD>
  </TR>
  <TR> 
    <tD height="9" colspan="6" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</tD>
  </TR>
  <TR> 
    <tD height="18" colspan="3" valign="top" class="blackback2">ATTACK</tD>
    <tD valign="top" class="blackback2">ATTACK</tD>
    <tD valign="top" class="blackback2">DAMAGE</tD>
    <tD valign="top" class="blackback2">CRITICAL</tD>
  </TR>
  <TR> 
    <tD height="18" colspan="3" valign="top" class="boxed">%w101%</tD>
    <tD valign="top" class="boxed">%w102%</tD>
    <tD valign="top" class="boxed">%w103%</tD>
    <tD valign="top" class="boxed">%w104%</tD>
  </TR>
  <TR> 
    <tD height="18" valign="top" class="blackback2">RANGE</tD>
    <tD valign="top" class="blackback2">TYPE</tD>
    <tD colspan="4" valign="top" class="blackback2">NOTES</tD>
  </TR>
  <TR> 
    <tD height="18" valign="top" class="boxed">%w105%</tD>
    <tD valign="top" class="boxed">%w106%</tD>
    <tD colspan="4" valign="top" class="boxed">%w107%</tD>
  </TR>
  <TR> 
    <tD height="28" colspan="6" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</tD>
  </TR>
  <tr> 
    <td height="1"></td>
    <td></td>
    <td width="65"></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>