<table width="580" border="0" cellpadding="0" cellspacing="0" class="page">
  <!--DWLayoutTable-->
  <tr> 
    <td width="580" height="438" valign="top"><table width="580" border="0" cellpadding="0" cellspacing="0">
        <!--DWLayoutTable-->
        <tr> 
          <td width="342" height="24" valign="top" class="blackback">POSSESSIONS</td>
          <td width="12">&nbsp;</td>
          <td width="226" valign="top" class="blackback">SKILLS</td>
        </tr>
        <tr> 
          <td height="414" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
              <!--DWLayoutTable-->
              <tr> 
                <td width="107" height="24" valign="top" class="descboxed">ITEM</td>
                <td width="32" valign="top" class="descboxed">PG.</td>
                <td width="32" valign="top" class="descboxed">LB.</td>
                <td width="107" valign="top" class="descboxed">ITEM</td>
                <td width="32" valign="top" class="descboxed">PG.</td>
                <td width="32" valign="top" class="descboxed">LB.</td>
              </tr>
              <tr> 
                <td width="107" height="24" valign="top" class="boxedsmall">%o1%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u1%</td>
                <td width="107" valign="top" class="boxedsmall">%o2%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u2%</td>
              </tr>
              <tr> 
                <td width="107" height="24" valign="top" class="boxedsmall">%o3%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u3%</td>
                <td width="107" valign="top" class="boxedsmall">%o4%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u4%</td>
              </tr>
              <tr> 
                <td width="107" height="24" valign="top" class="boxedsmall">%o5%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u5%</td>
                <td width="107" valign="top" class="boxedsmall">%o6%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u6%</td>
              </tr>
              <tr> 
                <td width="107" height="24" valign="top" class="boxedsmall">%o7%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u7%</td>
                <td width="107" valign="top" class="boxedsmall">%o8%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u8%</td>
              </tr>
              <tr> 
                <td width="107" height="24" valign="top" class="boxedsmall">%o9%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u9%</td>
                <td width="107" valign="top" class="boxedsmall">%o10%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u10%</td>
              </tr>
              <tr> 
                <td width="107" height="24" valign="top" class="boxedsmall">%o11%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u11%</td>
                <td width="107" valign="top" class="boxedsmall">%o12%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u12%</td>
              </tr>
              <tr> 
                <td width="107" height="24" valign="top" class="boxedsmall">%o13%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u13%</td>
                <td width="107" valign="top" class="boxedsmall">%o14%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u14%</td>
              </tr>
              <tr> 
                <td width="107" height="24" valign="top" class="boxedsmall">%o15%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u15%</td>
                <td width="107" valign="top" class="boxedsmall">%o16%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u16%</td>
              </tr>
              <tr> 
                <td width="107" height="24" valign="top" class="boxedsmall">%o17%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u17%</td>
                <td width="107" valign="top" class="boxedsmall">%o18%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u18%</td>
              </tr>
              <tr> 
                <td width="107" height="24" valign="top" class="boxedsmall">%o19%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u19%</td>
                <td width="107" valign="top" class="boxedsmall">%o20%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u20%</td>
              </tr>
              <tr> 
                <td width="107" height="24" valign="top" class="boxedsmall">%o21%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u21%</td>
                <td width="107" valign="top" class="boxedsmall">%o22%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u22%</td>
              </tr>
              <tr> 
                <td width="107" height="24" valign="top" class="boxedsmall">%o23%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u23%</td>
                <td width="107" valign="top" class="boxedsmall">%o24%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u24%</td>
              </tr>
              <tr> 
                <td width="107" height="24" valign="top" class="boxedsmall">%o25%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u25%</td>
                <td width="107" valign="top" class="boxedsmall">%o26%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u26%</td>
              </tr>
              <tr> 
                <td width="107" height="24" valign="top" class="boxedsmall">%o27%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u27%</td>
                <td width="107" valign="top" class="boxedsmall">%o28%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u28%</td>
              </tr>
              <tr> 
                <td width="107" height="24" valign="top" class="boxedsmall">%o29%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u29%</td>
                <td width="107" valign="top" class="boxedsmall">%o30%</td>
                <td width="32" valign="top" class="boxedsmall"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="32" valign="top" class="boxedsmall">%u30%</td>
              </tr>
            </table></td>
          <td>&nbsp;</td>
          <td valign="top"><table width="226" border="0" cellpadding="0" cellspacing="0">
              <!--DWLayoutTable-->
              <!--DWLayoutTable-->
              <tr> 
                <td width="3" height="18" valign="top" class="blackback"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="descboxed">SKILL NAME</td>
                <td width="27" valign="top" class="descboxed">KEY ABILITY</td>
                <td colspan="2" valign="top" class="descboxed">SKILL MODIFIER</td>
                <td colspan="2" valign="top" class="descboxed">ABILITY MODIFIER</td>
                <td width="26" valign="top" class="descboxed">RANKS</td>
                <td colspan="2" valign="top" class="descboxed">MISC MODIFIER</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s29%</td>
                <td width="27" valign="top" class="skillability">%cc29%</td>
                <td width="27" valign="top" class="skill2">%m29%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l29%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n29%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k29%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s30%</td>
                <td width="27" valign="top" class="skillability">%cc30%</td>
                <td width="27" valign="top" class="skill2">%m30%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l30%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n30%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k30%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s31%</td>
                <td width="27" valign="top" class="skillability">%cc31%</td>
                <td width="27" valign="top" class="skill2">%m31%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l31%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n31%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k31%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s32%</td>
                <td width="27" valign="top" class="skillability">%cc32%</td>
                <td width="27" valign="top" class="skill2">%m32%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l32%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n32%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k32%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s33%</td>
                <td width="27" valign="top" class="skillability">%cc33%</td>
                <td width="27" valign="top" class="skill2">%m33%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l33%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n33%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k33%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s34%</td>
                <td width="27" valign="top" class="skillability">%cc34%</td>
                <td width="27" valign="top" class="skill2">%m34%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l34%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n34%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k34%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s35%</td>
                <td width="27" valign="top" class="skillability">%cc35%</td>
                <td width="27" valign="top" class="skill2">%m35%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l35%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n35%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k35%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s36%</td>
                <td width="27" valign="top" class="skillability">%cc36%</td>
                <td width="27" valign="top" class="skill2">%m36%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l36%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n36%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k36%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s37%</td>
                <td width="27" valign="top" class="skillability">%cc37%</td>
                <td width="27" valign="top" class="skill2">%m37%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l37%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n37%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k37%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s38%</td>
                <td width="27" valign="top" class="skillability">%cc38%</td>
                <td width="27" valign="top" class="skill2">%m38%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l38%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n38%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k38%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s39%</td>
                <td width="27" valign="top" class="skillability">%cc39%</td>
                <td width="27" valign="top" class="skill2">%m39%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l39%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n39%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k39%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s40%</td>
                <td width="27" valign="top" class="skillability">%cc40%</td>
                <td width="27" valign="top" class="skill2">%m40%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l40%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n40%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k40%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s41%</td>
                <td width="27" valign="top" class="skillability">%cc41%</td>
                <td width="27" valign="top" class="skill2">%m41%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l41%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n41%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k41%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s42%</td>
                <td width="27" valign="top" class="skillability">%cc42%</td>
                <td width="27" valign="top" class="skill2">%m42%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l42%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n42%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k42%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s43%</td>
                <td width="27" valign="top" class="skillability">%cc43%</td>
                <td width="27" valign="top" class="skill2">%m43%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l43%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n43%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k43%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s44%</td>
                <td width="27" valign="top" class="skillability">%cc44%</td>
                <td width="27" valign="top" class="skill2">%m44%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l44%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n44%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k44%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s45%</td>
                <td width="27" valign="top" class="skillability">%cc45%</td>
                <td width="27" valign="top" class="skill2">%m45%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l45%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n45%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k45%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s46%</td>
                <td width="27" valign="top" class="skillability">%cc46%</td>
                <td width="27" valign="top" class="skill2">%m46%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l46%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n46%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k46%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s47%</td>
                <td width="27" valign="top" class="skillability">%cc47%</td>
                <td width="27" valign="top" class="skill2">%m47%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l47%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n47%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k47%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s48%</td>
                <td width="27" valign="top" class="skillability">%cc48%</td>
                <td width="27" valign="top" class="skill2">%m48%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l48%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n48%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k48%</td>
              </tr>
              <tr> 
                <td width="3" height="18" valign="top"><!--DWLayoutEmptyCell-->&nbsp;</td>
                <td width="59" valign="top" class="skillname">%s49%</td>
                <td width="27" valign="top" class="skillability">%cc49%</td>
                <td width="27" valign="top" class="skill2">%m49%</td>
                <td width="12" class="desc3">=</td>
                <td width="27" valign="top" class="skill">%l49%</td>
                <td width="8" class="desc3">+</td>
                <td valign="top" class="skill">%n49%</td>
                <td width="8" class="desc3">+</td>
                <td width="29" valign="top" class="skill">%k49%</td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td height="114" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
        <!--DWLayoutTable-->
        <tr> 
          <td width="57" rowspan="2" valign="top" class="boxed">%ll1%</td>
          <td width="57" rowspan="2" valign="top" class="boxed">%ll2%</td>
          <td width="57" rowspan="2" valign="top" class="boxed">%ll3%</td>
          <td width="57" rowspan="2" valign="top" class="boxed">%ll4%</td>
          <td width="57" rowspan="2" valign="top" class="boxed">%ll5%</td>
          <td width="57" rowspan="2" valign="top" class="boxed">%ll6%</td>
          <td width="12" height="24">&nbsp;</td>
          <td width="64" valign="top" class="blackback3">PLATINUM</td>
          <td width="162" valign="top" class="boxed">%pp%</td>
        </tr>
        <tr> 
          <td height="24">&nbsp;</td>
          <td valign="top" class="blackback3">GOLD</td>
          <td valign="top" class="boxed">%gp%</td>
        </tr>
        <tr> 
          <td rowspan="2" valign="top" class="blackback3">LIGHT<BR>
            LOAD</td>
          <td rowspan="2" valign="top" class="blackback3">MEDIUM<BR>
            LOAD</td>
          <td rowspan="2" valign="top" class="blackback3">HEAVY<BR>
            LOAD</td>
          <td rowspan="2" valign="top" class="blackback3"><P>LIFT OVER HEAD<BR>
              <SPAN class="blackback_small">EQUALS MAX LOAD</SPAN></P></td>
          <td rowspan="2" valign="top" class="blackback3"><P>LIFT OFF GROUND<BR>
              <SPAN class="blackback_small">2x MAX LOAD</SPAN></P></td>
          <td rowspan="2" valign="top" class="blackback3"><P>PUSH OR DRAG<BR>
              <SPAN class="blackback_small">5x MAX LOAD</SPAN></P></td>
          <td height="24"></td>
          <td valign="top" class="blackback3">SILVER</td>
          <td valign="top" class="boxed">%sp%</td>
        </tr>
        <tr> 
          <td height="24"></td>
          <td valign="top" class="blackback3">COPPER</td>
          <td valign="top" class="boxed">%cp%</td>
        </tr>
        <tr> 
          <td height="18"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td height="250" valign="top"><table width="580" border="0" cellpadding="0" cellspacing="0">
        <!--DWLayoutTable-->
        <tr> 
          <td height="18" colspan="4" valign="top" class="blackback">FEATS, LANGUAGES 
            &amp; ABILITIES</td>
        </tr>
        <tr> 
          <td width="145" height="18" valign="top" class="boxedsmall">%e1%</td>
          <td width="145" valign="top" class="boxedsmall">%e13%</td>
          <td width="145" valign="top" class="boxedsmall">%e25%</td>
          <td width="145" valign="top" class="boxedsmall">%e37%</td>
        </tr>
        <tr> 
          <td height="18" valign="top" class="boxedsmall">%e2%</td>
          <td valign="top" class="boxedsmall">%e14%</td>
          <td valign="top" class="boxedsmall">%e26%</td>
          <td valign="top" class="boxedsmall">%e38%</td>
        </tr>
        <tr> 
          <td height="18" valign="top" class="boxedsmall">%e3%</td>
          <td valign="top" class="boxedsmall">%e15%</td>
          <td valign="top" class="boxedsmall">%e27%</td>
          <td valign="top" class="boxedsmall">%e39%</td>
        </tr>
        <tr> 
          <td height="18" valign="top" class="boxedsmall">%e4%</td>
          <td valign="top" class="boxedsmall">%e16%</td>
          <td valign="top" class="boxedsmall">%e28%</td>
          <td valign="top" class="boxedsmall">%e40%</td>
        </tr>
        <tr> 
          <td height="18" valign="top" class="boxedsmall">%e5%</td>
          <td valign="top" class="boxedsmall">%e17%</td>
          <td valign="top" class="boxedsmall">%e29%</td>
          <td valign="top" class="boxedsmall">%e41%</td>
        </tr>
        <tr> 
          <td height="18" valign="top" class="boxedsmall">%e6%</td>
          <td valign="top" class="boxedsmall">%e18%</td>
          <td valign="top" class="boxedsmall">%e30%</td>
          <td valign="top" class="boxedsmall">%e42%</td>
        </tr>
        <tr> 
          <td height="18" valign="top" class="boxedsmall">%e7%</td>
          <td valign="top" class="boxedsmall">%e19%</td>
          <td valign="top" class="boxedsmall">%e31%</td>
          <td valign="top" class="boxedsmall">%e43%</td>
        </tr>
        <tr> 
          <td height="18" valign="top" class="boxedsmall">%e8%</td>
          <td valign="top" class="boxedsmall">%e20%</td>
          <td valign="top" class="boxedsmall">%e32%</td>
          <td valign="top" class="boxedsmall">%e44%</td>
        </tr>
        <tr> 
          <td height="18" valign="top" class="boxedsmall">%e9%</td>
          <td valign="top" class="boxedsmall">%e21%</td>
          <td valign="top" class="boxedsmall">%e33%</td>
          <td valign="top" class="boxedsmall">%e45%</td>
        </tr>
        <tr> 
          <td height="18" valign="top" class="boxedsmall">%e10%</td>
          <td valign="top" class="boxedsmall">%e22%</td>
          <td valign="top" class="boxedsmall">%e34%</td>
          <td valign="top" class="boxedsmall">%e46%</td>
        </tr>
        <tr> 
          <td height="18" valign="top" class="boxedsmall">%e11%</td>
          <td valign="top" class="boxedsmall">%e23%</td>
          <td valign="top" class="boxedsmall">%e35%</td>
          <td valign="top" class="boxedsmall">%e47%</td>
        </tr>
        <tr> 
          <td height="18" valign="top" class="boxedsmall">%e12%</td>
          <td valign="top" class="boxedsmall">%e24%</td>
          <td valign="top" class="boxedsmall">%e36%</td>
          <td valign="top" class="boxedsmall">%e48%</td>
        </tr>
      </table></td>
  </tr>
</table>